{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "no-mixed-operators": 0,
    "no-param-reassign": 1,
    "no-nested-ternary": 1
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config"
      }
    }
  },
  "globals": {
    "__DEV__": true,
    "__VERSION__": false
  }
}
